<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        tools:targetApi="31"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Pages.ResourcesActivity"
            android:exported="false" />
        <!-- registration -->
        <activity
            android:name=".User.Registration_Page"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Landing -->
        <activity
            android:name=".z_oldImplements.z_Loans.LandingPage"
            android:exported="false" /> <!-- Edit user Page -->
        <activity
            android:name=".User.Edit_UserPage"
            android:exported="false" /> <!-- budget page -->
        <activity
            android:name=".Pages.Budget_Page"
            android:exported="false" />
        <activity
            android:name=".Pages.Budget_ChartPage"
            android:exported="false" />
        <activity
            android:name=".Investment.Invest_Edit"
            android:exported="false" />
        <activity
            android:name=".Investment.Invest_ShowClickedCategory"
            android:exported="false" />
        <activity
            android:name=".Pages.Charts_Page"
            android:exported="false" />
        <activity
            android:name=".z_oldImplements.z_Loans.Invest_AddNew_old"
            android:exported="false" />
        <activity
            android:name=".Investment.Invest_Page"
            android:exported="false" />
        <activity
            android:name=".Debt_Repayment.Debt_Repayment"
            android:exported="false" />
        <activity
            android:name=".Tax.Tax_Page"
            android:exported="false" />
        <activity
            android:name=".Pages.Landing_Page"
            android:exported="false" />
    </application>

</manifest>